.app {
    max-height: 100vh;
    background-image: url('/bg.jpeg');
    background-size: cover;
    background-position: center;
}

.logo {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 54px;
}

.logo img {
    width: 168px;
}

.logo h1 {
    font-family: 'Cascadia Code';
    font-size: 44px;
    font-weight: 400;
    line-height: 52.81px;
    color: white;
}

.body {
    text-align: center;
    padding-bottom: 20px;
}

.body img {
    width: 250px;
    height: 270px;
    display: block;
    margin: 20px auto;
}

.body h2 {
    font-size: 96px;
    font-family: "Star Jedi Hollow";
    font-weight: 400;
    color: #FFFF00;
}

.body p {
    font-family: "Cascadia Code";
    font-size: 36px;
    line-height: 40px;
    color: white;
}

.foot {
    position: relative;
    height: 45px;
    width: 100%;
}

.foot1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #626228;
    z-index: 1;
    transform: rotate(1.96deg);
}

.foot2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #FFFF00;
    white-space: nowrap;
    z-index: 2;
    transform: rotate(-1.96deg);
}

.scrolling-text {
    display: inline-block;
    animation: scroll 10s linear infinite;
    font-family: "Cascadia Code";
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
