.foot {
    position: relative;
    height: 50px; /* Adjust the height as needed */
    width: 100%;
  }
  
  .foot1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #626228;
    z-index: 1; /* Lower z-index to appear behind foot2 */
    transform: rotate(1.96deg);
  }
  
  .foot2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #FFFF00;
    white-space: nowrap;
    z-index: 2; 
    transform: rotate(-1.96deg);
  }
  
  .scrolling-text {
    display: inline-block;
    padding-left: 200%; /* Adjust this value based on your text length */
    animation: scroll 30s linear infinite;
    font-family: "Cascadia Code";
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  