@font-face {
    font-family: 'Cascadia-Code';
    src: local(Cascadia), url('./assets/font/Cascadia.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Star-Jedi';
    src: local(Star Jedi) ,url('./assets/font/Starjhol.ttf') format('truetype');
  }
  
  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }
  
  .foot {
    position: relative;
    height: 50px; /* Adjust the height as needed */
    width: 100%;
  }
  
  .foot1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #626228;
    z-index: 1; /* Lower z-index to appear behind foot2 */
    transform: rotate(1.96deg);
  }
  
  .foot2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #FFFF00;
    white-space: nowrap;
    z-index: 2; 
    transform: rotate(-1.96deg);
  
  }
  
  .scrolling-text {
    display: inline-block;
    padding-left: 100%; /* Adjust this value based on your text length */
    animation: scroll 10s linear infinite;
    font-family: "Cascadia Code";
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }  